{% extends 'base.html' %}

<!-- 	{% if session %}
	<h1>Welcome {{session.userinfo.name}}!</h1>
	<p>
		<a href="/logout" id="qsLogoutBtn">Logout</a>
	</p>
	<div>
		<pre>{{pretty}}</pre>
	</div>
	{% else %}
	<h1 id="profileDropDown">Welcome Guest</h1>
	<p>
		<a href="/login" id="qsLoginBtn">Login</a>
	</p>
	{% endif %} -->
{% block content %}
<style>
  .header-container {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
  }

  .logo-container {
    position: absolute;
    width: 20%;
    height: 6%;
    left: 2%;
    top: 25%;
  }

  .accounts-btn {
    position: absolute;
    width: 8%;
    height: 40%;
    left: 25%;
    top: 32%;
    background-color: #4700A4;
    border: 1.5px solid #9A9999;
    border-radius: 2px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
  }

  .logout-btn {
    position: absolute;
    width: 8%;
    height: 40%;
    left: 90%;
    top: 32%;
    border: groove;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #4700A4;
    background-color: #EBEBEB;
  }

  .transfer-btn {
    position: absolute;
    width: 324px;
    height: 46px;
    left: 50px;
    top: 424px;
    background-color: #4700A4;
    border: 1.5px solid #9A9999;
    border-radius: 4px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .accounts-container {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 25%;
    left: 40%;

  }

  .accounts-box {
    position: absolute;
    box-sizing: border-box;
    background: #FFFFFF;
    height: 50%;
    border-style: ridge;
    border-radius: 2%;
    border-width: thick;
    outline: black;
    outline-width: 2px;
  }

  /*   .accounts-box-title {
    position: relative;
    width: 428px;
    height: 31px;
    top: 2px;
    font-family: FS Koopman Medium,Helvetica,Arial,sans-serif;
    align-items: center;
    text-align: center;
    color: #240053;
  } */

  .accounts-box-personal {
    position: relative;
    width: 90%;
    height: 6.5%;
    top: 5%;
    left: 5%;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    /* background: #240053; */
  }

  .accounts-box-managed {
    position: relative;
    width: 90%;
    height: 6.5%;
    top: 25%;
    left: 5%;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #240053;
    color: #FFFFFF;
  }

  h1 {
    position: relative;
    width: 428px;
    height: 31px;
    top: 2px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    align-items: center;
    text-align: center;
    color: #240053;
  }

  h2 {
    text-align: left;
    padding: 2px 0px 0px 5px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
  }

  .disable {
    opacity: 0.6;
    cursor: not-allowed;
  }
</style>
<!-- <h1>{% block title %} Account Information {% endblock %}</h1> -->

<div class="accounts-container">
  <div class="accounts-box">
    <h1>ACCOUNTS</h1>
    <div class="accounts-box-personal">
      {% for account in accounts %}
      <p>{{account}}</p>

      {% endfor %}
    </div>
    <a class="transfer-btn" href="/banking/transfer">TRANSFER</a>
  </div>
</div>


{% endblock %}