{% extends 'base.html' %}

<!-- 	{% if session %}
	<h1>Welcome {{session.userinfo.name}}!</h1>
	<p>
		<a href="/logout" id="qsLogoutBtn">Logout</a>
	</p>
	<div>
		<pre>{{pretty}}</pre>
	</div>
	{% else %}
	<h1 id="profileDropDown">Welcome Guest</h1>
	<p>
		<a href="/login" id="qsLoginBtn">Login</a>
	</p>
	{% endif %} -->
{% block content %}
<style>
  .row {
	display: flex;
  }

  .column {
	flex: 33%;
	padding: 10px;
  }

  .center-column {
	left: 30%;
	flex: 34%;
  }

  .transfer-btn {
    position: relative;
    width: 40%;
    left: 30%;
    background-color: #4700A4;
    border: 1.5px solid #9A9999;
    border-radius: 4px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 10px;
  }

  .accounts-container {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 25%;
    left: 40%;

  }

  .transfer-box {
	box-sizing: border-box;
	background: #FFFFFF;
	border-style: groove;
	border-radius: 2%;
	border-width: thick;
	outline: black;
	outline-width: 2px;
  }
  .accounts-box {
    position: absolute;
    box-sizing: border-box;
    background: #FFFFFF;
    border-style: ridge;
    border-radius: 2%;
    border-width: thick;
    outline: black;
    outline-width: 2px;
  }

  /*   .accounts-box-title {
    position: relative;
    width: 428px;
    height: 31px;
    top: 2px;
    font-family: FS Koopman Medium,Helvetica,Arial,sans-serif;
    align-items: center;
    text-align: center;
    color: #240053;
  } */

  .accounts-box-personal {
    position: relative;
    width: 90%;
    height: 6.5%;
    top: 5%;
    left: 5%;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    /* background: #240053; */
  }


/*   h1 {
    position: relative;
    width: 428px;
    height: 31px;
    top: 2px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    align-items: center;
    text-align: center;
    color: #240053;
  }

  h2 {
    text-align: left;
    padding: 2px 0px 0px 5px;
    font-family: FS Koopman Medium, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
  } */
  .tbox-contents {
    width: 70%;
    font-family: Helvetica;
	color: #4700A4;
	padding: 0px 0px 0px 70px;
	font-size: 18px;
	text-align: right;
  } 

  .tbox-footer {
    position: relative;
    width: 100%;
    height: 30px;
    bottom: 0px;
    padding-left: 41%;
    padding-bottom: 12px;
  }
 
  .box-header {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    background-color: #240053;
    font-family: Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    border-radius: 2%;
  } 
  .disable {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .right {
    text-align: right;
  }
</style>
<h1>{% block title %} Account Information {% endblock %}</h1>
<body>
	<div class="row">
	  <div class="column"></div>
	  <div class="center-column">
		<div class="transfer-box">
		  <div class="box-header">Accounts</div>
		    <div class="tbox-contents">
              {% for account in accounts %}
                <p style="text-align: left;  color: #240053; text-size-adjust: 80%; top: 5%;">
                <b>Account ID: {{account.id}}</b>
                <span style="float: right; color: #4700A4;"><b> ${{account.balance}} </b></span>
                </p>
                <hr>
              {% endfor %}
            </div>
          <div class="tbox-footer">
            <button class="submit-btn" onclick="window.location.href='/banking/transfer';">Transfer</button>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
</body>

{% endblock %}