{% extends 'base.html' %}

<h1>{% block title %} Banking Forms Home Page {% endblock %}</h1>
{% block content %}
<ul>
    <li><a href="/banking/transfer">transfer</a></li>
    <li><a href="/banking/createaccount">create account</a></li>
    <li><a href="/banking/getaccount">get account info</a></li>
    <li><a href="/banking/deleteaccount">delete account</a></li>
    <li><a href="/banking/deposit">deposit</a></li>
    <li><a href="/banking/transfer">transfer</a></li>
    <li><a href="/banking/accounts">all accounts</a></li>
    <li><a href="/banking/accounts/<accountId>">transfer history for account</a></li>
</ul>
{% endblock %}