{% extends 'base.html' %}
{% block content %}
<style>
.accountBox-contents {
    width: 100%;
    height: flex;
    font-family: Helvetica;
	font-weight: medium;
	text-align: right;
	overflow: visible;
	overflow-wrap: break-word;
}

p {
    font-size: 20px;
    font-weight: medium;
    text-align:center;
}

a {
  color:#240053;
}

</style>

<body>
	<h1>{% block title %} Banking Home {% endblock %}</h1>
	<div class="row">
		<div class="column"></div>
		<div class="center-column">
			  <div class="accountBox-contents">
				<p>
				    <a href="/banking/transfer">Transfer Money</a>
				</p>
				<hr style="width: 50%">
				<p>
					<a href="/banking/createaccount">Create New Account</a>
				</p>
				<hr style="width: 50%">
				<p>
					<a href="/banking/getaccount">Get Account</a>
				</p>
				<hr style="width: 50%">
				<p>
					<a href="/banking/deleteaccount">Delete Account</a>
				</p>
				<hr style="width: 50%">
				<p>
					<a href="/banking/deposit">Deposit Money</a>
				</p>
				<hr style="width: 50%">
				<p>
					<a href="/banking/accounts">All Accounts</a>
				</p>
				<hr style="width: 50%">
				<p>
					<a href="/banking/accounts/<accountId>">Account Transfer
						History</a>
				</p>
			</div>
		</div>
		<div class="column"></div>
	</div>
</body>
{% endblock %}
