{% extends 'base.html' %}
{% block content %}
<style>
  
.createAccount-box {
	box-sizing: border-box;
	background: #FFFFFF;
	border-style: groove;
	border-radius: 2%;
	border-width: thick;
	outline: black;
	outline-width: 2px;
}

.row {
	display: flex;
}

.column {
	flex: 30%;
	padding: 10px;
}

.center-column {
    flex: 40%;
    padding: 10px;
}

.account-box {
	box-sizing: border-box;
	background: #FFFFFF;
	border-style: groove;
	border-radius: 2%;
	border-width: thick;
	outline: black;
	outline-width: 2px;
	align-items: center;
}

.accountBox-header {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: white;
  background-color: #240053;
  font-family: Verdana, sans-serif;
  font-size: 28px;
  font-weight: bold;
  border-radius: 2%;
}

.accountBox-contents {
    width: 100%;
    height: 100%;
    font-family: Helvetica;
	color: #4700A4;
	font-size: 20px;
	text-align: center;
	align-items: center;
}

.box-footer {
    position: relative;
    width: 100%;
    height: 30px;
    bottom: 10px;
    text-align: center;
}

p{
    font-size: 20px;
}

</style>

<body>
    <form method="POST">
      <div class="row">
        <div class="column"></div>
          <div class="center-column">
            <div class="account-box">
              <div class="accountBox-header">Create a New Account</div>
                <div class="accountBox-contents">
                       <!-- {{ form.csrf_token }} -->
                         <p><b>
                           {{ form.accountId.label }}
                           {{ form.accountId(size=20) }}
                         </b></p>
                         <p><b>
                            {{ form.balance.label }}
                            {{ form.balance() }}
                        </b></p>
  
                         {% if form.accountId.errors %}
                           <ul class="errors">
                           {% for error in form.accountId.errors %}
                             <li>{{ error }}</li>
                           {% endfor %}
                           </ul>
                         {% endif %}
                </div>
                <div class="box-footer">
                  <p>
                    <button type="submit" class="submit-btn">Submit</button>
                  </p>
                </div>
				{% for message in messages %} 
				    {% if "successfully" in message.message %}
				        <script>alert("Transfer completed successfully!")</script>
				    {% elif "not entitled" in message.errorMessage %}
				        <script>alert("An error occurred while transferring money.")</script> 
				    {% endif %}
				{% endfor %}
            </div>
           </div>
          <div class="column"></div>
      </div>
    </form>
  </body>            

{% endblock %}