{% extends 'base.html' %} {% block content %}
<style>
.row {
	display: flex;
}

.column {
	flex: 30%;
	padding: 10px;
}

.center-column {
	left: 30%;
	flex: 40%;
}

.transfer-box {
	box-sizing: border-box;
	background: #FFFFFF;
	border-style: groove;
	border-radius: 2%;
	border-width: thick;
	outline: black;
	outline-width: 2px;
}

.tbox-header {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: white;
  background-color: #240053;
  font-family: Verdana, sans-serif;
  font-size: 28px;
  font-weight: bold;
  border-radius: 2%;
}

.tbox-contents {
    width: 60%;
    font-family: Helvetica;
	color: #4700A4;
	padding: 0px 0px 0px 90px;
	font-size: 16px;
	text-align: right;
}

.tbox-footer {
    position: relative;
    width: 100%;
    height: 30px;
    bottom: 0px;
    padding-left: 41%;
    padding-bottom: 12px;
}

h1 { 
    font-family: Helvetica;
    font-size: 3em;
    font: Arial;
    padding: 0px;
    color: #240053;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

</style>
<h1>{% block title %} Transfer Money {% endblock %}</h1>
<body>
	<div class="row">
	  <div class="column"></div>
		<div class="center-column">
			<div class="transfer-box">
			    <form id="transferForm" method="POST">
			    <div class="tbox-header">Transfer</div>
			      <div class="tbox-contents">
					<!-- {{ form.csrf_token }} -->
					<p>{{ form.sourceId.label }} {{ form.sourceId(size=20) }}</p>

					{% if form.sourceId.errors %}
					<ul class="errors">
						{% for error in form.sourceId.errors %}
						<li>{{ error }}</li> {% endfor %}
					</ul>
					{% endif %}

					<p>{{ form.destId.label }} {{ form.destId(size=20) }}</p>

					{% if form.destId.errors %}
					<ul class="errors">
						{% for error in form.destId.errors %}
						<li>{{ error }}</li> {% endfor %}
					</ul>
					{% endif %}

					<p>{{ form.amount.label }} {{ form.amount() }}</p>

					{% if form.amount.errors %}
					<ul class="errors">
						{% for error in form.amount.errors %}
						<li>{{ error }}</li> {% endfor %}
					</ul>
					{% endif %}

					<p>{{ form.memo.label }} {{ form.memo(size=30) }}</p>

					{% if form.memo.errors %}
					<ul class="errors">
						{% for error in form.memo.errors %}
						<li>{{ error }}</li> {% endfor %}
					</ul>
					{% endif %}
				</div>
				
				<div class="tbox-footer">
			        <button type="submit" class="submit-btn">Transfer</button>
				</div>

				{% for message in messages %} 
				    {% if "successfully" in message.message %}
				        <script>alert("Transfer completed successfully!")</script>
				    {% elif "not entitled" in message.message %}
				        <script>alert("An error occurred while transferring money.")</script>
				        window.location.reload(true);
				    {% endif %}
				{% endfor %}
				
				</form>
			</div>
			</div>
		<div class="column"></div>
	</div>
</body>
{% endblock %}
